@model Person

@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">    
 <div>voornaam: <input type="text" name="firstname" /></div>
 @Html.ValidationMessageFor(m => m.Firstname)
<div>achternaam: <input type="text" name="lastname" /></div>
 @Html.ValidationMessageFor(m => m.Lastname)
<div>email: <input type="text" name="email" /></div>
 @Html.ValidationMessageFor(m => m.Email)
 <div>telefoon: <input type="text" name="phone" /></div>
 <input type="submit" value="opslaan" />
</form>

@if(Model != null){
    <p>Hallo @Model.Firstname @Model.Lastname  </p>
}